electron/built/
electron/node_modules/
pantheon/dist/
pantheon/node_modules/
saliva/dist/
saliva/node_modules/
shared/dist/
shared/node_modules/
vscode/built/
vscode/node_modules/
vscode-saliva/built/
vscode-saliva/node_modules/
web/built/
web/node_modules/
**/.DS_Store
**/*.code-workspace
