electron/built/
electron/node_modules/
pantheon/built/
pantheon/node_modules/
saliva/built/
saliva/node_modules/
shared/dist/
shared/node_modules/
vscode/dist/
vscode/node_modules/
vscode-saliva/built/
vscode-saliva/node_modules/
web/built/
web/node_modules/
**/.DS_Store
**/*.code-workspace
