$charcoal: #333
$stage-background: #111
$mid-grey: #666
$near-white: #ffc
$sea-blue: #045
$verdant-green: #361
$mustard-yellow: #d92
$villian-laser-magenta: #e2a
$eyesore-yellow: #ff7
$teal: #38a
$pumpkin: #841
$royal-velvet: #a24

body
  background-color: $charcoal
  font-family: "Helvetica", Arial, sans-serif
  color: #fff

a
  color: #05f

button
  outline: none
  border: none
  padding: 8px 12px
  margin: 8px
  background-color: $mid-grey
  color: $near-white
  font-size: 100%
  font-family: "Helvetica", Arial, sans-serif

button:hover
  background-color: #755

button:active
  background-color: #844

::selection
  background-color: #c88

.editor
  padding: 2px 0

.code-view
  position: relative
  min-height: 27px
  margin: 8px
  background-color: $stage-background
  color: $near-white
  padding: 12px
  font-family: 'Courier New', monospace
  cursor: default

  .syno
    border-radius: 15px
    font-size: 16px
    font-weight: bold

  .non-syntactic
    color: $charcoal
    font-family: "Helvetica", Arial, sans-serif
    font-weight: normal
    margin: 5px 0

  .leaf
    /* pad vertically to center font */
    padding-top: 6px
    padding-bottom: 3px

  .bubble-even
    padding-right: 10px
    padding-left: 10px

  .bubble-plus
    /* pad horizontally to even bubble area on either side of text */
    padding-right: 6px
    padding-left: 14px

  .bubble-minus
    /* pad horizontally to even bubble area on either side of text */
    padding-right: 14px
    padding-left: 6px

  .expression
    padding-right: 10px
    padding-left: 10px
    color: #111
    background-color: $eyesore-yellow

  .argument
    background-color: $verdant-green

  .boolean-literal
    color: $mustard-yellow

  .function-call
    background-color: $pumpkin
    color: $villian-laser-magenta

  .function-definition
    background-color: $sea-blue
    color: #aaa

  .function-parameter
    background-color: $royal-velvet
    color: #aaa

  .variable-ref
    color: $teal

  .unresolved
    color: #ddd
    background: repeating-linear-gradient(45deg, #a11, #a11 3px, $stage-background 3px, $stage-background 8px)

  .focused
    animation: pulse 0.2s infinite alternate

  .unfocused
    animation: none

  @keyframes pulse
    0%
      filter: brightness(112%)
    100%
      filter: brightness(94%)

  .same-line
    display: inline-block

  .outdated-message
    position: absolute
    bottom: 0
    right: 0
    padding: 0 6px 2px 6px
    border-radius: 0
    font-size: 12px
    font-family: "Helvetica", Arial, sans-serif
    background-color: #282828
    color: #999
