$charcoal: #111
$stage-background: #040404
$mid-grey: #333
$near-white: #ffc
$sea-blue: #045
$ever-green: #352
$mustard-yellow: #d92
$bubblegum: #d7a
$villian-laser-magenta: #d14
$eyesore-yellow: #ff7
$teal: #39b
$pumpkin: #841
$antique-velvet: #832
$mint: #2a7
$popsicle-orange: #e73
$dream-violet: #803850
$tomato: #b03820
$pearl-shell: #c76
$stasis-crystal: #8cc
$interpreting: #844

body
  background-color: $charcoal
  font-family: "Helvetica", Arial, sans-serif
  color: #fff

a
  color: #05f

button
  outline: none
  border: none
  padding: 8px 12px
  margin: 8px 24px
  background-color: $mid-grey
  color: $near-white
  font-size: 100%
  font-family: "Helvetica", Arial, sans-serif

button:hover
  background-color: #755

button:active
  background-color: $interpreting

button.interpreting
  background-color: $interpreting

::selection
  background-color: #c88

.editor
  padding: 2px 0

.code-view
  position: relative
  min-height: 27px
  margin: 8px
  background-color: $stage-background
  color: $near-white
  padding: 12px
  font-family: 'Courier New', monospace
  cursor: default

  .syno
    display: table
    padding: 0 7px
    margin: 0 3px
    border-radius: 15px
    font-size: 16px
    font-weight: bold
    color: #000
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.08)
    background-color: $eyesore-yellow

  .syno:hover
    filter: brightness(116%)

  .non-syntactic
    color: $charcoal
    font-family: "Helvetica", Arial, sans-serif
    font-weight: normal
    margin: 5px 0

  .code-text
    padding: 6px 8px 3px 8px

  .leaf
    background-color: #0f0
    padding: 0 4px

  .argument
    color: $pearl-shell
    background-color: $ever-green

  .boolean-literal
    color: $mustard-yellow
    background-color: $antique-velvet

  .function-call
    background-color: $pumpkin
    color: $bubblegum

  .function-definition
    background-color: $sea-blue
    color: $popsicle-orange

  .function-parameter
    background-color: $tomato
    color: $mint

  .variable-ref
    color: $teal
    background-color: $dream-violet

  .unresolved
    color: #ddd
    background: repeating-linear-gradient(45deg, #a11, #a11 3px, $stage-background 3px, $stage-background 8px)

  .focused
    animation: pulse 0.2s infinite alternate

  .unfocused
    animation: none

  @keyframes pulse
    0%
      filter: brightness(112%)
    100%
      filter: brightness(94%)

  .same-line
    display: inline-block

  .outdated-message
    position: absolute
    bottom: 0
    right: 0
    padding: 0 6px 2px 6px
    border-radius: 0
    font-size: 12px
    font-family: "Helvetica", Arial, sans-serif
    background-color: #282828
    color: #999

.code-view.interpreting
  background-color: $stasis-crystal
