body {
  background-color: #333;
  font-family: "Helvetica", Arial, sans-serif;
  color: #fff;
}

a {
  color: #05f;
}

button {
  outline: none;
  border: none;
  padding: 8px 12px;
  margin: 8px;
  background-color: #666;
  color: #ffc;
  font-size: 100%;
  font-family: "Helvetica", Arial, sans-serif;
}

button:hover {
  background-color: #755;
}

button:active {
  background-color: #844;
}

::selection {
  background-color: #c88;
}

.editor {
  padding: 2px 0;
}

.code-stage {
  margin: 8px;
  background-color: #111;
  color: #ddd;
  padding: 12px;
  font-family: 'Courier New', monospace;
}

.code-stage div {
  border-radius: 15px;
  font-size: 16px;
}

.code-stage .non-syntactic {
  color: #333;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: normal;
}

.code-stage .leaf {
  /* pad vertically to center font */
  padding-top: 6px;
  padding-bottom: 3px;
}

.code-stage .bubble-even {
  padding-right: 10px;
  padding-left: 10px;
}

.code-stage .bubble-plus {
  /* pad horizontally to even bubble area on either side of text */
  padding-right: 6px;
  padding-left: 14px;
}

.code-stage .bubble-minus {
  /* pad horizontally to even bubble area on either side of text */
  padding-right: 14px;
  padding-left: 6px;
}

.code-stage .expression {
  background-color: #045;
}

.code-stage .argument {
  background-color: #361;
}

.code-stage .boolean-literal {
  color: #ea1;
}

.code-stage .function-call {
  color: #e18;
}

.code-stage .unresolved-function-call {
  color: #;
  background: repeating-linear-gradient(
    45deg,
    #a11,
    #a11 3px,
    #111 3px,
    #111 8px
  );
}

.code-stage .same-line {
  display: inline-block;
}
