:root {
  --stage-background: #040404;
  --charcoal: #111;
  --sea-blue: #045;
  --ever-green: #352;
  --mustard-yellow: #da4;
  --bubblegum: #e8a;
  --villian-laser-magenta: #d14;
  --teal: #2ad;
  --pumpkin: #841;
  --antique-velvet: #832;
  --mint: #2a7;
  --popsicle-orange: #e84;
  --dream-violet: #803850;
  --tomato: #b03820;
  --pearl-shell: #e87;
  --transparent: rgba(0, 0, 0, 0);
  --invalid-color: rgba(0, 0, 0, 0.5);
  --invalid-overlay: repeating-linear-gradient(
    45deg,
    var(--transparent),
    var(--transparent) 3px,
    var(--invalid-color) 3px,
    var(--invalid-color) 6px
  );
}

.code-view .argument {
  background-color: var(--ever-green);
  color: var(--pearl-shell);
}

.code-view .invalid.argument {
  background-image: var(--invalid-overlay),
                    linear-gradient(var(--ever-green), var(--ever-green));
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1px var(--charcoal);
}

.code-view .boolean-literal {
  background-color: var(--antique-velvet);
  color: var(--mustard-yellow);
}

.code-view .invalid.boolean-literal {
  background-image: var(--invalid-overlay),
                    linear-gradient(var(--antique-velvet), var(--antique-velvet));
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1px var(--charcoal);
}

.code-view .function-call {
  background-color: var(--pumpkin);
  color: var(--bubblegum);
}

.code-view .invalid.function-call {
  background-image: var(--invalid-overlay),
                    linear-gradient(var(--pumpkin), var(--pumpkin));
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1px var(--charcoal);
}

.code-view .function-definition {
  background-color: var(--sea-blue);
  color: var(--popsicle-orange);
}

.code-view .invalid.function-definition {
  background-image: var(--invalid-overlay),
                    linear-gradient(var(--sea-blue), var(--sea-blue));
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1px var(--charcoal);
}

.code-view .function-parameter {
  background-color: var(--tomato);
  color: var(--mint);
}

.code-view .invalid.function-parameter {
  background-image: var(--invalid-overlay),
                    linear-gradient(var(--tomato), var(--tomato));
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1px var(--charcoal);
}

.code-view .variable-ref {
  background-color: var(--dream-violet);
  color: var(--teal);
}

.code-view .invalid.variable-ref {
  background-image: var(--invalid-overlay),
                    linear-gradient(var(--dream-violet), var(--dream-violet));
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1px var(--charcoal);
}
